<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration status="info" monitorInterval="5">
   <Appenders>
      <Console name="console" target="SYSTEM_OUT">
         <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{2}(%F:%L) - %m%n" />
      </Console>

      <File name="file" fileName="${sys:log.home}/test.log" bufferedIO="false">
         <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1}.%M(%F:%L) - %m%n" />
      </File>
   </Appenders>


   <Loggers>
      <Root level="info">
         <AppenderRef ref="console" />
         <AppenderRef ref="file" />
      </Root>
   </Loggers>
</Configuration>